.section_main{
    color : white;
    text-align: center;
    font-size: 50px;
    font-family: 'NanumSquare';
    opacity: 0%;
    transition: 2.5s;
}

.section_text{
    color: white;
    font-family: 'NanumSquare';
}

.subtitle{
    text-align: center;
    padding-bottom: 100px;
}

.line{
    width: 0cm;
    transition: all 1s;
}
.card_1{
    display: block;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    opacity: 1;
    transition: all 3s;
}
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
.circle {
    padding: 0 4px;
}
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
.red {
    background-color: #ff605c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}

pre {
    padding-left: 50px;
}
.javacode{
    color: white;
    font-family: 'Courier New', monospace;
}
   
.card_content_text{
    color: white;
}

.javacodingBox_result{
    color : white;
    font-family: 'NanumSquare';
    text-align: center;
    font-size: 100px;
    opacity: 0;
    transform: translateY(200px);
    transition: all 1.5s;
}