.weathertotal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.weatherbox {
    width: 300px;
    height: 400px;
    background-size: cover;
    border-radius: 15px;
    z-index: 1;
}

.weatherbox.clouds {
    background-image: url('../img/clouds.jpg');
}

.weatherbox.clear {
    background-image: url('../img/clear.jpg');
}

.weatherbox.rain {
    background-image: url('../img/rain.jpg');
}

.weatherbox.snow {
    background-image: url('../img/snow.jpg');
}
.temperature{
    display: flex;
}
.weathersidebox{
    position: absolute;
    width: 300px;
    height: 360px;
    border-radius: 15px;
    background: #292f38;
    transition: all 1s;
    transform: translateX(26px);
    /* transform: translateX(25px); */
}

.weathersidebox:hover{
    transform: translateX(260px) !important;
}

.dayoftheweek{
    padding : 25px  20px  10px  20px; /*(top), 오른쪽(right), 하단(bottom), 왼쪽(left) */
    font-family: 'NPSfontBold';
    color : white;
    font-weight: bold;
    font-size : 35px;
}
.yearmonthday{
    padding-left : 20px;
    font-family: 'SOYOMapleBoldTTF';
    color : white;
    font-weight: bold;
    font-size : 23px;
    padding-bottom: 4px;
}
.map_pin{
    padding-left: 15px;
    display: flex;
}
.location{
    padding-top : 2px;
    padding-left : 5px;
    font-family: 'SOYOMapleBoldTTF';
    color : white;
    font-weight: bold;
    font-size : 20px;
}

.weathericon{
    padding : 100px 0px 0px 10px;
}
.temperature_total{
    display: flex;
}
.temperature{
    padding : 0 0 0 13px;
    font-family: 'SOYOMapleBoldTTF';
    color : white;
    font-size : 40px;
}
.metric{
    font-family: 'SOYOMapleBoldTTF';
    color : white;
    font-size: 30px;
    padding : 10px 0 0 0px;
}
.weatherinfo{
    font-family: 'SOYOMapleBoldTTF';
    color : white;
    font-size : 20px;
    padding-left : 20px
}

.nowtime{
    font-family: 'NPSfontBold';
    padding : 20px 0 0 105px;
    font-size: 45px;
    color: white;
}
.feeltemp{
    display : flex;
    font-family: 'NPSfontBold';
    padding : 20px 0 0 70px;
    font-size: 20px;
    color: white;
}
.feeltempresult{
    padding-left : 63px;
}
.sunrise{
    display : flex;
    font-family: 'NPSfontBold';
    padding : 20px 0 0 70px;
    font-size: 20px;
    color: white;
}
.sunriseresult{
    padding-left : 104px;
}
.changelocation{
    position : absolute;
    bottom: 30px;
    padding-left: 115px;
}
.changelocationbutton{
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
}

.changelocationbutton:hover{
    background-color: #D6D6D6;
    cursor : pointer;
}

.changelocation_view{
    position: absolute;
    background-color: #292f38;
    width: 300px;
    height: 360px;
    transition: all 1s;
    transform: translateX(-26px);
    border-radius: 20px;
}

.changelocation_view:hover{
    transform: translateX(-260px);
}
.citylist{
    padding-left :20px;
    font-size: 25px;
    color : #FFFFFF;
    font-family: 'NPSfontBold';
}

.cssbuttons-io-button {
    background:  #1F2937;
    color: white;
    font-family: inherit;
    
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em  #1F2937;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    width : 220px;
    padding-right: 3.3em;
    margin-top :17px;
  }
  
  .cssbuttons-io-button .icon {
    cursor: pointer;
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em  #1F2937;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  