@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    background-color : #142531;
    font-family: 'Karla', sans-serif;
    height: 5000px;
}
a{
    text-decoration: none;
    color : white;
}
.section_main{
    color : white;
    text-align: center;
    font-size: 50px;
    font-family: 'NanumSquare';
    opacity: 0%;
    transition: 2.5s;
}

.section_text{
    color: white;
    font-family: 'NanumSquare';
}

.subtitle{
    text-align: center;
    padding-bottom: 100px;
}

.line{
    width: 0cm;
    transition: all 1s;
}
.card_1{
    display: block;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    opacity: 1;
    transition: all 3s;
}
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
.circle {
    padding: 0 4px;
}
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
.red {
    background-color: #ff605c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}

pre {
    padding-left: 50px;
}
.javacode{
    color: white;
    font-family: 'Courier New', monospace;
}
   
.card_content_text{
    color: white;
}

.javacodingBox_result{
    color : white;
    font-family: 'NanumSquare';
    text-align: center;
    font-size: 100px;
    opacity: 0;
    transform: translateY(120px);
    transition: all 1.5s;
}
.navbar{ 
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161B22;
    padding: 10px 15px;
}
.navbar_logo{ /* 로고 */
    font-size : 50px;
    padding-left : 10px;
}
.navbar_menu{
    display : flex;
    list-style : none;
    padding-left : 0px;
}
.navbar_menu li{
    padding : 8px 20px;
}
.navbar_icons{
    list-style: none;
    display: flex;
    padding-left : 0px;
}
.navbar_icons li{
    padding : 8px 6px;
}
.navbar_menu li:hover{
    background-color: #2A373F;
    border-radius: 4px;
}
.navbar_bar{
    display:none;
    position: absolute;
    right:32px;
    font-size: 20px;
}
.textanimation{
    text-align: center;
    color : white;
}

@media screen and (max-width : 768px){
    .navbar_bar{
        display: block;
        padding: 17px 3px;
    }
    .navbar{
        flex-direction: column;
        padding : 8px 35px;
    }
    .navbar_logo{
        padding-left:0px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width : 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .cardtotal{
        display: none;
    }
    .navbar_icons.active , .navbar_menu.active {
        display : flex;
    }
}